
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 10%;
}

svg path {
    fill: rgb(0, 84, 166);
    stroke: aliceblue;
}

svg path:hover {
    fill: rgb(37, 131, 226);
    transition: 0.3s;
    cursor: pointer;
}

.info-box {
    color: #fff;
    background: transparent;
    background: rgba(214, 220, 223, 0.097);
    padding: 10px;
    font-family:'Montserrat', sans-serif;
    z-index: 99;
}

.red {
    fill: red;
}